<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  
  <variable name="logDirectory" value="${basedir}/Log/${shortdate}"/>
  <variable name="applicationName" value="ServicoIntegrador"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    -->
    <target xsi:type="File"
            name="FileTarget"
            fileName="${logDirectory}/log.${shortdate}.log"
            archiveFileName="${logDirectory}/log.${shortdate}.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="1000000"
            archiveDateFormat="yyyyMMdd"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${threadid}|${level:uppercase=true}|${message} ${exception:format=tostring}"
            encoding="utf-8" />

    <target xsi:type="Debugger"
            name="DebugerTarget"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${threadid}|${level:uppercase=true}|${message} ${exception:format=tostring}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="DebugerTarget" />
    <logger name="*" minlevel="Info" writeTo="FileTarget" />
  </rules>
</nlog>
